In [0]:
spark.conf.set(
"fs.azure.account.key.mystoragecd.dfs.core.windows.net",
"cohyF/qhtXtSyWejUVgk0==========================")

In [0]:
# Read Data from Silver Container:
customers_df =spark.read.format("delta").load("abfss://silver@mystoragecd.dfs.core.windows.net/delta/customers_delta")

In [0]:
#defining the schema
columns = ["customer_id", "first_name", "last_name", "address", "city", "state", "zip"]

In [0]:
# Define the data and columns
data = [
    (1, 'John', 'Doe', '123 Elm St', 'Springfield', 'IL', '62701'),
    (2, 'Jane', 'Smith', '456 Oak St', 'Chicago', 'IL', '60614'),
    (3, 'Emily', 'Johnson', '789 Pine St', 'Dallas', 'TX', '75201'),
    (4, 'Michael', 'Williams', '101 Maple St', 'Seattle', 'WA', '98101'),
    (5, 'Sarah', 'Brown', '202 Birch St', 'New York', 'NY', '10001'),
    (6, 'David', 'Jones', '303 Cedar St', 'Los Angeles', 'CA', '90001'),
    (7, 'Laura', 'Garcia', '404 Willow St', 'San Francisco', 'CA', '94101'),
    (8, 'James', 'Martinez', '505 Redwood St', 'Houston', 'TX', '77001'),
    (9, 'Olivia', 'Davis', '606 Fir St', 'Boston', 'MA', '02101'),
    (10, 'Daniel', 'Rodriguez', '707 Spruce St', 'Philadelphia', 'PA', '19101'),
    (11, 'Andy', 'Josheny', '123 yulm St', 'Chicago', 'IL', '627098'),
    (12, 'Eva', 'antony', '153 balliol St', 'Chicago', 'PL', '667098')
]
columns = ["customer_id", "first_name", "last_name", "address", "city", "state", "zip"]

# Create a DataFrame
df = spark.createDataFrame(data, columns)

# Display the DataFrame
display(df)

customer_id,first_name,last_name,address,city,state,zip
1,John,Doe,123 Elm St,Springfield,IL,62701
2,Jane,Smith,456 Oak St,Chicago,IL,60614
3,Emily,Johnson,789 Pine St,Dallas,TX,75201
4,Michael,Williams,101 Maple St,Seattle,WA,98101
5,Sarah,Brown,202 Birch St,New York,NY,10001
6,David,Jones,303 Cedar St,Los Angeles,CA,90001
7,Laura,Garcia,404 Willow St,San Francisco,CA,94101
8,James,Martinez,505 Redwood St,Houston,TX,77001
9,Olivia,Davis,606 Fir St,Boston,MA,02101
10,Daniel,Rodriguez,707 Spruce St,Philadelphia,PA,19101
11,Andy,Josheny,123 yulm St,Chicago,IL,627098
12,Eva,antony,153 balliol St,Chicago,PL,667098

In [0]:
# Group customers by city and state, and count distinct zip codes
city_zip_count = df.groupBy("city", "state").agg(countDistinct("zip").alias("distinct_zip_count"))

# Display the result
display(city_zip_count)

# Show the result
city_zip_count.show(truncate=False)

city,state,distinct_zip_count
Los Angeles,CA,1
San Francisco,CA,1
Chicago,PL,1
Philadelphia,PA,1
Dallas,TX,1
Boston,MA,1
Springfield,IL,1
New York,NY,1
Chicago,IL,2
Houston,TX,1
Seattle,WA,1

+-------------+-----+------------------+
|city         |state|distinct_zip_count|
+-------------+-----+------------------+
|Los Angeles  |CA   |1                 |
|San Francisco|CA   |1                 |
|Chicago      |PL   |1                 |
|Philadelphia |PA   |1                 |
|Dallas       |TX   |1                 |
|Boston       |MA   |1                 |
|Springfield  |IL   |1                 |
|New York     |NY   |1                 |
|Chicago      |IL   |2                 |
|Houston      |TX   |1                 |
|Seattle      |WA   |1                 |
+-------------+-----+------------------+

In [0]:
# Define the path for gold container

gold_delta = "abfss://gold@mystoragecd.dfs.core.windows.net/delta/gold_delta"

# Save the DataFrame in Delta format, overwriting if it exists

city_zip_count.write.format("delta").mode("overwrite").save(gold_delta)